.pure-menu-link {
    padding: 0.2em 0.5em;
}

html, body {
    /*width: 100%;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    overflow-x: hidden;
    /*font-size: 120%;*/
    font-family: "Open Sans", sans-serif;
    /*text-align: center;*/
    scrollbar-width: none; /* Firefox */
}

body {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

/*
 * -- as of now, NO WAY to set responsive height without JS --
 * spacing height: mobile > 3.15em, laptop > 5.05em
 */
.top-bar-spacer {
    height: 3.15em;
}

.top-bar {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    text-align: center;
    width: 100%;
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    background-color: white;
    z-index: 10;
    transition-duration: 0.2s;
}

.top-name {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
    display: none;
    padding: 0.1em;
}

.menu-name {
    font-weight: 600;
}

p {
    margin: 0;
    font-weight: 300;
    background-color: antiquewhite;
}

@media (min-width: 48em) {
    .pure-menu-link {
        padding: 0.2em 1em;
    }
    
    .top-bar-spacer {
        height: 5.05em;
    }
    
    .top-name {
        display: block;
    }
    
    .menu-name {
        display: none !important;
    }
}